# Build directories
build/
bin/
venv

# Data files
data/raw/
data/index/
*json
**/data/**
crawler/data/*
data/
# System files
.DS_Store
*.swp
*.swo
*.txt

# IDE specific
.vscode/
.idea/
.gitignore

#cache
__pycache__
node_modules/

# Compiled files
*.o
*.so
*.a

# Executables
RawHTMLdata
